/* место для вашего кода */
.header__menu {
    display: grid;
    grid-template-columns: 1fr 139px 1fr;
    font-size: 18px;
    align-items: center;
    padding: 92px 24px;
}

.header__links-list {
    width: 391px;
    display: flex;
    justify-content: space-between;
    list-style: circle;
    margin-right: 36px;
    margin-left: 24px;
}
.header__links-list-item {
    text-decoration: underline;
    text-underline-offset: 4px;
}
.header__links-list-item_no-bullit {
    list-style: none;
    text-decoration: none;
}
.address {
    display: flex;
    flex-direction: column;
    margin-left: 190px;
    line-height: 24px;
}

.telephone {
    text-underline-offset: 4px;
}
.mail {
    text-underline-offset: 4px;
}

.cover {
    background-image: url("/images/cover.jpg");
    background-size: cover;
    position: relative;
    z-index: -1;
    margin-bottom: 179px;
}

.cover__title {
    font-size: 100px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #fff;
    padding: 165px 50px 135px;
}
.aligned-text {
    display: block;
    margin-bottom: 18px;
}
.aligned-text_center {
    text-align: center;
}
.aligned-text_right {
    text-align: right;
    margin-right: -30px; /*не понимаю почему без этого буквы не встают как на макете*/
    margin-bottom: 0;
}
.aligned-text_center,
.aligned-text_right {
    line-height: 1;
}
.letter-spacing-extended {
    letter-spacing: 0.6em;
}
.no-letter-spacing {
    letter-spacing: 0em;
}
.cover__subtitle-button-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 78px;
    padding-bottom: 50px;
}
.cover__subtitle {
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    word-spacing: 1.15rem;
}
.cover__button {
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    padding: 12px 32px;
    border: 1px solid white;
    background-color: rgba(3, 3, 3, 0);
    border-color: #fff;
}
.overlay {
    background-color: rgba(3, 3, 3, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
}

.lots {
    padding: 0 24px 0 24px;
    margin-bottom: 148px;
}
.lots__header {
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 27px;
}
.lots__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 30px;
}
.lots__cards-element {
    position: relative;
    width: 334px;
    display: flex;
    flex-direction: column;
    padding: 51px 40px 48px;
    z-index: -1;
}
.lots__cards-element-film {
    background-image: url("/images/card-lot-01.jpg");
    background-position: center;
    background-size: cover;
}
.lots__cards-element-book {
    background-image: url("/images/card-lot-02.jpg");
    background-position: center;
    background-size: cover;
}
.lots__cards-element-picture {
    background-image: url("/images/card-lot-03.jpg");
    background-position: center;
    background-size: cover;
}
.lots__cards-element-link {
    text-transform: uppercase;
    flex-grow: 1;
    color: #fff;
    font-size: 22px;
    text-underline-offset: 3px;
}
.lots__cards-element-text {
    color: #fff;
    font-size: 20px;
}
.lots__link {
    font-size: 20px;
    margin-left: 40px;
    text-underline-offset: 4px;
}
.about {
    display: grid;
    grid-template-columns: 334px auto;
    gap: 25px;
    padding: 0 24px 0;
    justify-items: center;
    margin-bottom: 180px;
}

.about__img-circle {
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-image: url("/images/logo-white.svg");
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 35px;
}

.about__header {
    font-size: 40px;
    text-transform: uppercase;
    margin: 136px 0 100px;
}
.about__text {
    font-size: 20px;
    margin-bottom: 24px;
}
.about__text:last-child {
    margin-bottom: 0;
}
.footer {
    display: grid;
    grid-template-columns: 1fr 2fr 240px;
    align-items: flex-start;
    padding: 0 50px 0;
}

.address-footer {
    display: flex;
    flex-direction: column;
    line-height: 24px;
    font-size: 18px;
}
.footer__menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-underline-offset: 4px;
    font-size: 18px;
}
.footer__social-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.footer__social-icon {
    max-width: 48px;
    width: 48px;
}
.footer__menu-link_active {
    text-decoration: none;
}
